{% extends "base.html" %}
{% load static %}

{% block title %}
Student Portal
{% endblock %}

{% block content %}

{% if messages %}

    {% for message in messages %}

        <div id="message" style="
            background:#d4edda;
            color:#155724;
            padding:15px;
            margin:15px;
            border-radius:8px;
            transition:0.5s;
        ">
            {{ message }}
        </div>

    {% endfor %}

{% endif %}

<a href="/add-student/">
    <button>Add Student</button>
</a>

<h1>Student List</h1>

<table border="6" cellpadding="20">

    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>

    {% if page_obj %}

        {% for student in page_obj %}

        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
        </tr>

        {% endfor %}

    {% else %}

        <tr>
            <td colspan="3">No Students Found</td>
        </tr>

    {% endif %}

</table>

<br>

<div>

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">⬅ Previous</a>
    {% endif %}

    &nbsp;

    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

    &nbsp;

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next ➡</a>
    {% endif %}

</div>

<script>

setTimeout(function(){

    let message = document.getElementById("message");

    if(message){

        message.style.opacity = "0";

        setTimeout(function(){

            message.remove();

        },500);

    }

},5000);

</script>

{% endblock %}