{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Portal</title>

    <link rel="stylesheet" href="/static/student/style.css">

</head>

<body>

<div class="container">

    <h1>🎓 Student Portal</h1>

    <p class="subtitle">
        Welcome to my second Django project.
    </p>

    <div class="card">

        <h2>Student Information</h2>

        <p><strong>Name:</strong> Sajawal</p>

        <p><strong>University:</strong> Green International University</p>

        <p><strong>Program:</strong> BS Computer Science</p>

        <p><strong>Current Goal:</strong> Become a Backend Developer</p>

        <button>View Profile</button>

    </div>

</div>

</body>

</html>