{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Student Management System</title>

    <link rel="stylesheet" href="/static/students/style.css">
</head>

<body>
    <!-- for showing messages  -->
    {% if messages %}

    {% for message in messages %}

        <div id="message" style="
            background:#d4edda;
            color:#0c4219;
            padding:15px;
            margin-bottom:15px;
            border-radius:8px;
        ">
            {{ message }}
        </div>

    {% endfor %}

{% endif %}
    <h1>Student List</h1>
<!-- Go to add student page to add students  -->
<a href="/students/add-students">
    <button>Add Student</button>
</a>

<table border="10" cellpadding="20">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Action</th>
    </tr>

    {% for student in page_obj %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.email }}</td>
<td>
<!-- Edit and dlete buttons -->
    <a href="{% url 'edit_student' student.id %}">
        Edit
    </a>

    |

    <a href="{% url 'delete_student' student.id %}">
        Delete
    </a>

</td>    
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No students found.</td>
    </tr>
    {% endfor %}
</table>

<div>

{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">
Previous
</a>
{% endif %}

Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">
Next
</a>
{% endif %}

</div>

<script>

setTimeout(function(){

    let message = document.getElementById("message");

    if(message){

        message.style.transition = "0.5s";
        message.style.opacity = "0";

        setTimeout(function(){

            message.remove();

        },500);

    }

},3000);

</script>




</body>

</html>
